<div class="app-wrapper">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="home">
          <img class="img-responsive img-responsive-sm small-brand-logo" alt="App Logo"
               src="assets/images/swc-logo.png"/>
        </a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-main">
          <li routerLinkActive="active">
            <a routerLink="/characters">Characters</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/films">Films</a>
          </li>
        </ul>

    </div>
    </div>
  </nav>


  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer class="panel-footer footer">
    <div class="container">
      <h6 class="text-center"> Come to the dark side. We have cookies. </h6>
    </div>
  </footer>
</div>
